@if (cardProduct()) {
  <div class="card card-compact bg-base-100 shadow-xl animate-fadeUp card-hover" tabindex="0">
    <figure>
      <img
        [src]="cardProduct()!.images | productImage"
        [alt]="cardProduct()!.title" />
    </figure>
    <div class="card-body">
      <h2 class="card-title font-montserrat text-xl hover:underline cursor-pointer ds-title-gradient" [routerLink]="['/product', cardProduct()!.slug]">{{ cardProduct()!.title }}</h2>
      <p>{{ cardProduct()!.description | slice: 0:70 }}...</p>
      <div class="card-actions justify-end">
        <a class="link link-accent" [routerLink]="['/product', cardProduct()!.slug]">Ver producto</a>
      </div>
    </div>
  </div>
}
